li button {
	height: 135px;
	width: 145px;
	font-family: Arial;
	margin-top: 20px;
	font-size: 28px;
}


.goldAndGrass {
	height: 35px; 
	width: 40px;
}

#forJumbotron {
	background-color: #d7ec9b;
}

h2 {
	font-family: tahoma;
}

#Account {
	height: 200px;
	width: 200px;
}

#forTable {
	height: 700px;
	width: 550px;
	border-radius: 4px;
}

#h1size {
	font-size: 90px;
}

#psize {
	font-size: 20px;
}

@media only screen and (min-width: 400px){
.pMedia {
	margin-right: 75px;
	}
}

#passwordSize {
	font-size: 15px;
}

#forTableLogin {
	height: 561px;
	width: 550px;
}

@media only screen and (min-width: 400px){
.forForms {
		width: 250px;
	}
}

.grass {
	height: 70px; 
	width: 75px;
}

.verticalLine {
	border-style: groove;
	border-width: 1px;

}